.DS_Store
.vscode
__pycache__

# build results
build/
dist/
*.egg-info
*.so

# checkpoints
checkpoints/

# outputs
output*/
infer_output*/
*.mp4

wandb/# pixi environments
.pixi/*
!.pixi/config.toml

# logs
*.log