.DS_Store
.vscode
__pycache__

# build results
build/
dist/
*.egg-info
*.so

# checkpoints
checkpoints/

# outputs
output*/
infer_output*/
t2a_output/
t2a_input_out/
output/
*.mp4

# local prompt/input data
input/

wandb/
